<p id="notice"><%= notice %></p>
<div id='blog_post_form'>
</div>
<%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, blog_posts_path, id: 'back_to_blog_posts_link' %>
<%= render partial:  @blog_post, locals: {drafty: false} %>
