<div class="home_header_buffer"></div>
<div id="home">

  <div class="about_me col-1-1">
    <h2>About Me</h2>
      <p>    My initial inspiration to learn web development in my senior year at college was to build a customized multimedia blog for myself, so I could post my poetry, music, photography, and other projects. Since then, I have built and improved this Portfolio site, used Ruby, Python, and JavaScript in a professional setting, and incorporated a multitude of other tools in my work. Through working on this site, and many other side projects I have gained valuable experience incorporating different technologies to build and deploy web applications. In addition, I've learned important development concepts from reading books on web development, working through many exercises and tutorials, automating test suites, and contirbuting to design discussions on testing and rollout of code changes. In 4 years testing software professionally, I've developed countless browser tests using Ruby, Cucumber, Watir, RSpec, and Page Object. I've also written many bash scripts, developed a custom automation framework in Python, authored many API tests with Jasmine/Karma and Postman/newman, identified bugs, even fixed a few bugs on an AngularJs frontend, written testing and deployment pipelines using Jenkins job DSL, the list goes on. Read my coding blog to learn more about my unique experiences in the world of engineering quality code integration and deployment systems.
    </p>
    <p>    When I'm not coding, I enjoy playing, composing, producing, and mixing music, reading, writing, cooking, backpacking, playing basketball in the winter, and ultimate frisbee in the summer. I was born and raised in New Jersey, earned my B.S. in Biomedical Engineering with an English minor from Case Western Reserve University and currently reside in Columbus, Ohio. I recently earned a 120-hour Teaching English as a Foreign Language certificate from TEFL.org, and am pursuing English teaching jobs in or around Chengdu, China.
    </p>
  </div>
  
  <div class="tools col-1-1">
    <h2><span class="sym">./Portfolio/Gemfile<span></h2>
    <div id="tools_content">  
      <div id="dev_tools" class="col-1-3"> 
      <h4>group <span class="sym">:this_site<span> <span class="do_end"> do</span></h4>
        <ul>
          <li><span class="gem">ruby</span> '2.5'</li>
          <li><span class="gem">gem</span> 'rails 4.2'</li>
          <li><span class="gem">gem</span> 'pg'</li> 
          <li><span class="gem">gem</span> 'sass-rails'</li>
          <li><span class="gem">gem</span> 'jquery-rails'</li>
          <li><span class="gem">gem</span> 'devise'</li>
          <li><span class="gem">gem</span> 'simple_form'</li>
          <li><span class="gem">gem</span> 'trix'</li>
        </ul>
        <h4><span class="do_end">end</span></h4>
      </div>

      <div id="testing_tools" class="col-1-3">
        <h4>group <span class="sym">:testing_tools</span> <span class="do_end"> do</span></h4>
        <ul>
          <li><span class="gem">gem</span> 'cucumber'</li>
          <li><span class="gem">gem</span> 'rspec'</li>
          <li><span class="gem">gem</span> 'page-object'</li>
          <li><span class="gem">gem</span> 'watir'</li>
          <li><span class="gem">gem</span> 'jasmine'</li>
          <li><span class="gem">gem</span> 'karma'</li>
          <li><span class="gem">gem</span> 'jenkins'</li>
          <li><span class="gem">gem</span> 'travisCI'</li>
        </ul>
        <h4><span class="do_end">end</span></h4>
      </div>

      <div id="research" class="col-1-3">
        <h4>group <span class="sym">:other</span> <span class="do_end">do</span></h4> 
        <ul>
          <li><span class="gem">gem</span> 'python'</li>
          <li><span class="gem">gem</span> 'vue.js'</li>
          <li><span class="gem">gem</span> 'bash'</li>
          <li><span class="gem">gem</span> 'bootstrap'</li>
          <li><span class="gem">gem</span> 'carrierwave'</li>
          <li><span class="gem">gem</span> 'puma'</li>
          <li><span class="gem">gem</span> 'heroku'</li>
          <li><span class="gem">gem</span> 'pry'</li>
        </ul>
        <h4><span class="do_end">end</span></h4>
      </div>
    </div>
  </div>

</div>
<div class="projects">
  <h2><%= link_to "Projects:", projects_path, class: 'link' %></h2>
  <ul id="project_names">
  <% @project_names.each do |p| %>
    <li><%= link_to "#{p}", project_path(p), class: 'link' %></li>
  <% end %>
  </ul>
</div>
