<div id="home">

  <div class="about_me col-1-1">
    <h2>About Me</h2>
    <p>    I engineer test automation and deployment systems professionally, in addition to developing my own websites as side projects. I developed this, my Portofolio website, back in 2015. In 2022, I have completed my second website, Goali, which you read more about in the projects tab below. In my 4 years of writing software professionally, I have mainly used Ruby, Python, and JavaScript along with a multitude of other tools. In addition, I've also read many books on programming and web development, worked through many exercises and tutorials, automated test suites and test pipelines for myself and others, and contributed to many design discussions on continuous integration and deployment. More specifically, I've developed countless browser / end-to-end tests using Ruby, Cucumber, Watir, RSpec, and Page Object, written bash scripts to drive test adjacent DevOps work, developed a custom data integrity automation framework in Python, authored many API tests in different frameworks (Pytest/Requests, Jasmine/Karma, Postman/newman), written frontend component tests using Jest and Vue-test-utils, identified bugs, fixed bugs myself, created testing and deployment pipelines from scratch using Jenkins, the list goes on. Read my blog to learn more about my unique experiences.
    </p>
    <p>      In late 2018 and early 2019, I had saved up some money, and decided I wanted to travel the world and live abroad. I started volunteering at the Columbus Literacy Council, teaching immigrants English as a second language, which was rewarding work and valuable experience that led to an English teaching position in Chengdu, China. Although my original plan was to live in China for 1 year and then travel, obviously 2020 was not a great year for travel and I decided to stay in Chengdu. The next year, I taught Computer Science and Biology at an international high school in Chengdu, and for the 2021-2022 school year I continued teaching Computer Science and Biology at a new position in Shanghai. In the summer of 2022, I plan to return to the US and resume my career as a test automation engineer.
    </p>
    <p>    In my free time, I enjoy playing, composing, producing, and mixing music, reading, writing, practicing my Chinese and Spanish, cooking vegan food, backpacking, playing basketball and ultimate frisbee. I was born and raised in New Jersey, earned my B.S. in Biomedical Engineering with an English minor from Case Western Reserve University and currently reside in Shanghai, China - although I'll be coming home to the US soon!
    </p>
  </div>
  
  <div class="tools col-1-1">
    <h2><span class="sym">./Portfolio/Gemfile<span></h2>
    <div id="tools_content">  
      <div id="dev_tools" class="col-1-3"> 
      <h4>group <span class="sym">:this_site<span> <span class="do_end"> do</span></h4>
        <ul>
          <li><span class="gem">ruby</span> '2.5'</li>
          <li><span class="gem">gem</span> 'rails 4.2'</li>
          <li><span class="gem">gem</span> 'postgresql'</li> 
          <li><span class="gem">gem</span> 'sass'</li>
          <li><span class="gem">gem</span> 'jquery'</li>
          <li><span class="gem">gem</span> 'devise'</li>
          <li><span class="gem">gem</span> 'puma'</li>
          <li><span class="gem">gem</span> 'trix'</li>
        </ul>
        <h4><span class="do_end">end</span></h4>
      </div>

      <div id="testing_tools" class="col-1-3">
        <h4>group <span class="sym">:testing_tools</span> <span class="do_end"> do</span></h4>
        <ul>
          <li><span class="gem">gem</span> 'cucumber'</li>
          <li><span class="gem">gem</span> 'rspec'</li>
          <li><span class="gem">gem</span> 'page-object'</li>
          <li><span class="gem">gem</span> 'selenium'</li>
          <li><span class="gem">gem</span> 'jasmine'</li>
          <li><span class="gem">gem</span> 'jest'</li>
          <li><span class="gem">gem</span> 'jenkins'</li>
          <li><span class="gem">gem</span> 'travis CI'</li>
        </ul>
        <h4><span class="do_end">end</span></h4>
      </div>

      <div id="other" class="col-1-3">
        <h4>group <span class="sym">:other</span> <span class="do_end">do</span></h4> 
        <ul>
          <li><span class="gem">gem</span> 'javascript'</li>
          <li><span class="gem">gem</span> 'vue'</li>
          <li><span class="gem">gem</span> 'python'</li>
          <li><span class="gem">gem</span> 'pytest'</li>
          <li><span class="gem">gem</span> 'django'</li>
          <li><span class="gem">gem</span> 'sql'</li>
          <li><span class="gem">gem</span> 'docker'</li>
          <li><span class="gem">gem</span> 'aws'</li>
        </ul>
        <h4><span class="do_end">end</span></h4>
      </div>
    </div>
  </div>

  <div class="projects">
    <h2><%= link_to "Projects:", projects_path, class: 'link' %></h2>
    <ul id="project_names">
    <% @project_names.each do |p| %>
      <li><%= link_to "#{p}", project_path(p), class: 'link' %></li>
    <% end %>
    </ul>
  </div>
</div>
