<div class="skills">
  
  <h2>Skills<h2>

  <h3>Most skilled /Everyday use (in order of proficiency)</h3>
 
  <ul>
    <li>Ruby on Rails</li>
    <li>RSpec</li>
    <li>Cucumber & Gherkin</li>
    <li>jQuery</li>
    <li>Git & GitHubAPI</li>
    <li>JavaScript</li>
    <li>SCSS/CSS</li>
    <li></li>
  </ul>

  <h3>Familiar with</h3>
 
  <ul>
    <li>Node.js</li>
    <li>Java</li>
    <li>Bootstrap</li>
    <li></li>
  </ul>

</div>

<div class="interests">
  <h2>Interests</h2>
</div>

<div class="hobbies">
  <h2>Hobbies</h2>
</div>

<div class="sites">
  <h2>Sites</h2>
</div>
