<div class="project" id="project_<%=project.id%>">
  <div class="show_project_name">
    <h2><%= link_to "#{project.name}", project_path(project)  %></h2>
  </div>
  <div class="show_project_description">
    <p>
      <%= project.description %>
    </p>
  </div>
</div>
