<div id="project_info_container">
<h2>Bad Quarterback League</h2>

<p>Inspired by Grantland's BQBL, which was managed via Google spreadsheets, this project was intended to take all the fuss out of managing a fantasy BQBL. A league consists of 8-12 teams who each select 2-4 NFL teams' quarterbacks. There are weekly matchups, and a champion is crowned toward the end of the regular season. Points are determined by how dreadful your team's QBs play. Extra points for turnovers, sacks, low completion percentage, etc. Negative points for TDs, game-winning drives, high completion percentage, etc.</p>

  <p>Early on I worked on this project alongside learning from tutorials and books on Rails (see Github page). After realizing that this was a little too complex for a first project, I postponed work until my Portfolio was up and running. I plan to deliver a working version by mid-August 2016, so it can be test-driven and improved during the 2016 NFL season.</p>
</div>
