<div id="project_info_container">
  <h2>Differentia</h2>

  <p>This is my holy grail of Rails. When I wanted to post my music in early 2014, along with a resume, poetry, and other samples of my work - I found that there wasn't an easy one-size-fits-all approach to multi-media blogging with a focus on the individual's work. Rather, most sites that provide these features have a set layout and are focused around social interactions driving ad sales. On the other end of the spectrum, templated resume sites always leave the creative within us frustrated, and itching for more customizability.</p>

  <p>Thus, the idea for Differentia was born before I knew anything about programming, and it still drives me to this day to constantly improve my skills so I can package server setup, file uploads, page creation, routing, and web design tools into an Admin UI simple enough that it becomes cheap and fun for everyone to create their own site, exactly how they want it.</p>

  <p>Starting off bit-by-bit by building a prototype of this Admin UI into my Portfolio, I'll eventually fork my Portfolio project and build it into a standalone version of Differentia. Early next year, I plan to start hosting sites for close friends who are artists, so I can begin collecting feedback and iteratively improving the Admin UI tools that will drive people to create unique sites and have fun doing it.</p>
</div>
