<p id="notice"><%= notice %></p>

<% if current_admin %>
  <%= link_to 'New Project', new_project_path, remote: true, id: 'new_project' %>
  <%= link_to 'Drafts', drafts_projects_path, id: 'project_drafts_link' %>
<% end %>

<div id='project_form'>
</div>

<div id="projects">
  <%= render @projects %>
</div>
