<div id="project_info_container">
  <h2>Portfolio Project</h2>
  <p>This is the first project I've deployed and is currently my main focus. Currently it shows my preferred programming toolkit, a little about my coding background, descriptions of the projects I'm developing and designing, and a blog so I can post about my journey through the world of code.</p>

  <p>In the future, I'll be able to upload music, photos, poems, short stories and videos to my Portfolio. Also, I'll expand my blog into sections so I have an outlet for my thoughts on a variety of topics. In terms of the bigger picture, my Portfolio serves as a testing ground for my ideas on how to make elements of the traditional multi-media blogging platform wholly customizable through the site UI by signing in as an admin.</p>

  <h3>Feature List</h3>
  <ul>
    <li>UI to create and edit projects through Admin portal</li>
    <li>Text file uploads for blog</li>
    <li>Music file uploads</li>
    <li>Streaming music player</li>
    <li>Video file uploads</li>
    <li>Video player</li>
    <li>Ability to save blog post as drafts</li>
    <li>Add topical sections to blog</li>
  </ul>
</div>

