<p id="notice"><%= notice %></p>

<%= link_to '<i class="fa fa-arrow-left"> Published Posts</i>'.html_safe, posts_path, id: 'back_to_posts_link' %>

<div id="post_form">
</div>

<div id="posts">
  <%= render partial: 'draft', collection:  @posts, as: :post %>
</div>
