// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content,
#blog_posts {
  width: 70%;
  margin: 1% 15%;
}

body {
  background-image: url("symphony.png");
  background-repeat: repeat;
}
