// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

$translucent-white: rgba(255, 255, 255, 0.5);

.tools,
.about_me,
.projects {
  padding: 1%;
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
}

.tools {
  background: $translucent-white;
  border: 2.5px ridge white; 
  #tools_content {
    width: 95%;
    margin-left: 5%;
    padding: 1%;
  }
  h2 {
    padding: 1%;
  }
  #dev_tools,
  #testing_tools,
  #research {
    padding: 1% 5%;
    h4 {
      font-family: 'Source Code Pro', sans-serif !important;
      text-align: left;
      margin: 1%;
      padding: 1%;
      font-size: 0.7em !important;
    }
    ul {
      text-align: left;
      list-style-type: none;
      margin: 1% 5%;
      padding: 1%;
      li {
        font-size: 0.7em !important;
        font-family: 'Source Code Pro', sans-serif !important;
      }
    }
  }
}

.about_me {
  background: $translucent-white;
  border-right: 2.5px ridge white; 
  border-left: 2.5px ridge white;  
  border-top: 2.5px ridge white; 
  h2 {
    text-align: center;
  }
  p {
    width: 85%;
    margin: 1% 7%;
  }
}

.projects {
  border-top: 2.5px ridge white;
  border-right: 2.5px ridge white;
  border-left: 2.5px ridge white;
  h2 {
    text-align: right;
    display: inline-flex;
  } 
  a {
    display: inline;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  ul {
    list-style-type: none;
    padding: 1%;
    display: inline;
    li {
      display: inline;
      list-style-type: none;
      margin: 1% 5%;
      padding: 1%;
    }
  }
}
.home_header_buffer {
  padding: 8%;
}
.gem {
  color: red;
  font-family: 'Source Code Pro', sans-serif !important;
}
.sym {
  color: red;
  font-family: 'Source Code Pro', sans-serif !important;
}
.do_end {
  color: blue;
  font-family: 'Source Code Pro', sans-serif !important;
}
.comp_font {
  font-family: 'Source Code Pro', sans-serif !important;
}
