@media only screen and (min-width: 769px) and (max-width: 2560px) {
  #header,
  .tools,
  .about_me,
  .projects,
  .tag_list {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .about_me p {
    font-size: 1em;
  }
  #posts,
  #projects {
    width: 60%;
    margin: 0% 20%;
  }
}

@media only screen and (max-width: 768px) {
  #header,
  .tools,
  .about_me,
  .projects,
  #posts,
  #projects,
  .tag_list {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  h1 {
    font-size: 1.35em;
  }
  h4 {
    font-size: 1em;
  }
  #github,
  #email {
    font-size: 1em;
  }
}

@media only screen and (max-width: 425px) {
  #header,
  .tools,
  .about_me,
  .projects,
  #projects,
  #posts,
  .tag_list {
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 0.85em;
  }
  .tools li {
    font-size: 1em;
  }
  #header_middle a, span {
    font-size: 1em;
  }
  .about_me p {
    font-size: 0.85em; 
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 0.75em;
  }
  .tools li {
    font-size: 0.85em;
  }
  .about_me p {
    font-size: 0.75em;
  }
}

@media (max-width: 325px) {
}
