@media (max-width: 1028px) {
}

@media (max-width: 767px) {
  #header,
  .tools,
  .about_me,
  .projects {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
  #posts,
  #projects {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
  h1 {
    font-size: 1.35em;
  }
  h4 {
    font-size: 1em;
  }
  #github,
  #email {
    font-size: 1em;
  }
}

@media (max-width: 425px) {
  #header,
  .tools,
  .about_me,
  .projects {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  #projects,
  #posts {
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 0.85em;
  }
  .tools li {
    font-size: 1em !important;
  }
  #header_middle a, span {
    font-size: 1em !important;
  }
  .about_me p {
    font-size: 0.85em !important;
  }
}

@media (max-width: 375px) {
  #header,
  .tools,
  .about_me,
  .projects {
    width: 95% !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
  }
  #posts,
  #projects {
    width: 95%;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
  }
  h1 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 0.75em;
  }
  .tools li {
    font-size: 0.85em;
  }
  .about_me p {
    font-size: 0.75em !important;
  }
}

@media (max-width: 325px) {
}
