// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body {
  height: 100%;
}

div {
  display: inline-block;
}
  
h2,
h3,
div {
  text-align: center;
}

h2 {
  margin: 0 0;
  padding: 0.5%;
}

h4 {
  text-align: left;
  padding: 0.5%;
}

ul { 
  margin: auto 0px;
}

li {
  text-align: left;
}

.tools,
.about_me {
  padding: 0.5%;
  margin: 0% 15% 0% 15%;
  height: 30%;
  width: 70%;
  border-top: 5px solid black;  
}

.about_me {
  height: 35%;
}

.tools {
  margin-top: 0px;
  #dev_tools,
  #testing_tools,
  #research {
    display: inline-block;
    width: 25%;
    height: 80%;
    margin-left: 5%;
    h4 {
      margin-bottom: 5%;
    }
  }

  #dev_tools {
    float: left;
  }
  #testing_tools {
    float: middle;
  }  
  #research {
    float: right;
  } 
}

.projects {
  padding: 0.5%;
  width: 70%;
  height: 15%;
  border-top: 5px solid black;
  margin: 0% 15% 0% 15%;
  .deployed {
    width: 40%;
    height: 100%;
    float: left;

  }
  .coming_soon {
    width: 40%;
    height: 100%;
    float: right;
  }
}
