// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts {
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
  margin: 0;
  border: 2px groove white;
  width: 60%;
  margin: 1% 20% 10% 20%;
  padding: 2%;
  text-align: center;
  h2 a {
    text-decoration: none;
    color: black;
  }
  h2 a:hover {
    text-decoration: underline;
  }
}

.post {
  padding: 3%;
  border-bottom: 1px ridge white;
}

.post_header {
  vertical-align: top;
  display: inline;
  width: 60%;
  margin: 1% 20%;
  text-align: center;
  #back_to_posts_link {
    vertical-align: top;
    float: left;
    text-align: left;
  }
  .icons { 
    text-align: right;
    float: right;
    i {
      vertical-align: top;
    }
   }  
}


#new_post,
#post_drafts_link,
#back_to_blog_link {
  text-align: center;
  display: block;
}

#show_post_container {
  width: 60%;
  margin: 1% 20%;
  #show_post_title {
    a,
    h3 {
      margin-top: 0%;
      margin-bottom: 0%;
      display: inline-block;
    }
    a {
      width: 5%;
      margin-left: 15%;
      text-align: left;
    }
    h3 {
      text-align: center;
      width: 50%;
      margin-left: 5%;
      margin-right: 25%;
    }
  }
  #back_to_blog_link {
    float: left;
  }
}

.errors {
  color: red;
  list-style: none;
  width: 25%;
  margin: 1% 35% 1% 40%;
}

.post_title {
  width: 25%;
  margin: 1% 37.5%;
  #post_title {
    width: 100%;
  }
}

.post_content {
  width: 80%;
  margin: 1% 10%;
  #post_content {
    width: 100%;
  }
}

.post_published {
  width: 25%;
  margin: 1% 37.5%;
  text-align: center;
}

.form-inputs {
  display: block;
}

.form-actions {
  display: block;
  width: 25%;
  margin: 1% 37.5%;
  text-align: center;
}

.tags {
  display: inline-block;
  a {
    text-decoration: none;
    color: black;
    border: 2.5px groove white;
    border-radius: 5px;
  }
}

.tag_list {
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
  margin: 0;
  padding: 2% 5%;
  position: fixed;
  bottom: 0;
  background: white;
  width: 70%;
  margin: 0% 15%;
  display: inline-flex;
  border-top: 2.5px ridge white;
  border-right: 2.5px ridge whitesmoke;
  border-left: 2.5px ridge whitesmoke;
  h3 {
    padding: 0.5em 0;
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0.65em 0 0 4em;
    padding: 0;
    display: inline;
    li {
      vertical-align: top;
      display: inline;
      list-style-type: none;
      margin: 0.25em 2em;
      padding: 0.5em 1em;
    }
  }
}
