// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: rgba(255, 255, 255, 0.5);

#posts {
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
  background: $white;
  border: 2.5px groove white;
  width: 60%;
  margin: 0% 20%;
  padding: 2%;
  h2 a {
    text-align: center;
    text-decoration: none;
    color: black;
  }
  h2 a:hover {
    text-decoration: underline;
  }
}

.no_posts {
  border: 2px groove white;
  width: 60%;
  padding: 2%;
  margin: 1% 20%;
  h4 {
    text-align: center;
  }
}

.post {
  padding: 3%;
  border-bottom: 2.5px ridge white;
}

.show_post {
  margin: 1% 0%;
  padding: 3%;
}

#edit_post_icon,
#delete_post_icon,
#cancel_post {
  text-align: center;
  margin: 0% 1%;
  float: right;
}

#new_post,
#post_drafts_link,
#back_to_blog_link {
  text-align: center;
  display: block;
}

#back_to_posts_link {
  float: left;
  position: absolute;
  text-align: center;
  margin: 0% 1%;
}

#post_form {
  width: 60%;
  margin: 1% 20%;
}

.post_title {
  display: inline-block;
  width: 50%;
  margin: 1% 25%;
  #post_title {
    width: 100%;
  }
}

.post_content {
  width: 80%;
  padding: 1%;
  margin: 1% 10%;
  #post_content {
    width: 100%;
  }
  p {
    width: 100%;
    text-align: left;
  }
}

#post_form_tags {
  width: 50%;
  padding: 1%;
  margin: 1% 25%;
}

#post_upload {
  display: block;
  width: 50%;
  padding: 1%;
  margin: 1% 25%;
  border: 2.5px groove white;
}

.post_published {
  width: 40%;
  padding: 2%;
  margin: 1% 30%;
  text-align: center;
  #post_published {
    padding: 1%;
    margin: 2%;
    vertical-align: text-top;
  }
}

#post_all_tags {
  width: 40%;
  margin: 1% 30%;
}

.show_post_image {
  text-align: center;
}

.show_tags,
.show_draft_tags {
  text-align: center;
}

.show_tags a {
  padding: 1% 2%;
  text-decoration: none;
  color: black;
  border: 2.5px groove white;
  border-radius: 5px;
}

.tags {
  display: inline-block;
  width: 60%;
  padding: 1%;
  margin: 1% 20%;
  a {
    padding: 1% 2%;
    text-decoration: none;
    color: black;
    border: 2.5px groove white;
    border-radius: 5px;
  }
}

.tag_list {
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
  padding: 2% 1% 2% 3%;
  position: fixed;
  bottom: 0;
  width: 70%;
  margin: 0% 15%;
  display: inline-flex;
  border-top: 2.5px ridge white;
  border-right: 2.5px ridge white;
  border-left: 2.5px ridge white;
  h3 {
    padding: 0%;
    margin: 0%;
  }
  ul {
    width: 80%;
    list-style-type: none;
    margin: 0% 2%;
    padding: 0%;
    display: inline;
    li {
      vertical-align: top;
      display: inline;
      list-style-type: none;
      margin: 0% 2%;
      padding: 1% 2%;
      border: 2.5px groove white;
      border-radius: 5px;
    }
  }
}
