// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#posts {
  width: 60%;
  margin: 1% 20%;
  text-align: center;
  h2 a {
    text-decoration: none;
    color: black;
  }
  h2 a:hover {
    text-decoration: underline;
  }
}

#show_post_container {
  width: 60%;
  margin: 1% 20%;
  #show_post_title {
    a,
    h3 {
      margin-top: 0%;
      margin-bottom: 0%;
      display: inline-block;
    }
    a {
      width: 5%;
      margin-left: 15%;
      text-align: left;
    }
    h3 {
      text-align: center;
      width: 50%;
      margin-left: 5%;
      margin-right: 25%;
    }
  }
  #back_to_blog_link {
    float: left;
  }
}

.errors {
  color: red;
  list-style: none;
  width: 25%;
  margin: 1% 35% 1% 40%;
}

.post_title {
  width: 25%;
  margin: 1% 37.5%;
  #post_title {
    width: 100%;
  }
}

.post_content {
  width: 25%;
  margin: 1% 37.5%;
  #post_content {
    width: 100%;
  }
}

.post_published {
  width: 25%;
  margin: 1% 37.5%;
  text-align: center;
}

.form-inputs {
  display: block;
}

.form-actions {
  display: block;
  width: 25%;
  margin: 1% 37.5%;
  text-align: center;
}
