// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project_info_container {
  h2,
  h3 {
    padding: 1%;
    margin-bottom: 1%;
  }
  h3 {
    border-top: 2.5px ridge gray;
  }
  
  width: 60%;
  margin: 0% 20%;
  ul {
    margin-left: 25%;
  }
}
