// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: rgba(255, 255, 255, 0.5);

#projects {
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
  background: $white;
  border: 2.5px groove white;
  padding: 1%;
  h2 a {
    text-decoration: none;
    color: black;
  }
  h2 a:hover {
    text-decoration: underline;
  }
}

#no_projects {
  border: 2px groove white;
  width: 60%;
  padding: 1%;
  margin: 1% 20%;
  text-align: center;
  h4 {
    text-align: center;
  }
}

#project_form {
  width: 60%;
  margin: 1% 20%;
}

.project_name {
  width: 50%;
  padding: 1%;
  margin: 5% 25% 1% 25%;
  #project_name {
    background: $white;
    padding: 1%;
    border: 1px solid #bbb;
    border-radius: 3px;
    outline: none;
    min-height: 35px;
    width: 100%;
  }
}

.project_description {
  width: 80%;
  padding: 1%;
  margin: 1% 10%;
  #project_description {
    width: 100%;
  }
}

.project_url {
  width: 50%;
  padding: 1%;
  margin: 1% 25%;
  #project_url { 
    background: $white;
    padding: 1%;
    border: 1px solid #bbb;
    border-radius: 3px;
    outline: none;
    min-height: 35px;
    width: 100%;
  }
}

.project_published {
  width: 40%;
  padding: 1%;
  margin: 1% 30%;
  #project_published {
    padding: 1%;
    margin: 2%;
    vertical-align: text-top;
  }
}

#new_project,
#projects_link,
#project_drafts_link {
  display: block;
  text-align: center;
}

#back_to_projects_link {
  float: left;
  position: absolute;
  text-align: center;
  margin: 0%;
}

#edit_project_icon,
#delete_project_icon,
#cancel_project {
  float: right;
  text-align: center;
  margin: 0% 1%;
}

.show_project_description {
  width: 80%;
  padding: 1%;
  margin: 0% 10%;
}

