// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects {
  h2 a {
    text-decoration: none;
    color: black;
  }
  h2 a:hover {
    text-decoration: underline;
  }
}

.project {
  width: 80%;
  margin: 0% 10%;
  border-bottom: 2.5px ridge gray;
}

.project_features {
  h3 {
      margin: 1% 15%;
      width: 70%;
      text-align: center;
      text-decoration: underline;
  }
  ul { 
    margin: 1% 20% 1% 30%;
    width: 50%;
  } 
}

.form-inputs {
  display: block;
}

.form-actions {
  display: block;
  width: 25%;
  margin: 1% 37.5%;
  text-align: center;
}

.project_name {
  width: 25%;
  margin: 1% 37.5%;
  #project_name {
    width: 100%;
  }
}

.project_description {
  width: 25%;
  margin: 1% 37.5%;
  #project_description {
    width: 100%;
  }
}

.project_published {
  width: 25%;
  margin: 1% 37.5%;
  text-align: center;
}
