h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

p,
li,
a,
span {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

body {
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
}
