$white: rgba(255, 255, 255, 0.5);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

p,
li,
a,
span,
input,
label,
div {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
}

body {
  background-image: url(asset-path('symphony.png'));
  background-repeat: repeat;
  margin: 0; 
}

html,
body {
  height: 100%;
}

h2 {
  margin: 0 0;
  padding: 2%;
}

h4 {
  text-align: left;
  padding: 2%;
}

ul { 
  margin: auto 0px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

li {
  a {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
  }
  text-align: left;
}

input[type="checkbox" i] {
  margin: 0%;
}

.grid,
.grid-pad {
  padding: 0 !important;
}


.button { 
  border: 2.5px groove white;
  border-radius: 5px;
  background-color: buttonface;
}

.nav_button {
  width: 90%;
  margin: 1% 5%;
  padding: 1%;
}

.form_button {
  width: 50%;
  margin: 1% 25%;
  padding: 1%;
}

.errors {
  color: red;
  list-style: none;
  padding: 0%;
  width: 50%;
  margin: 1% 25%;
  li {
    text-align: center;
  }
}

.hidden {
  display: none;
}

.form-inputs {
  display: block;
}

.form-actions {
  display: block;
  text-align: center;
}

.icon {
  display: inline-flex;
  padding: 1%;
  border: 2.5px groove white;
  border-radius: 5px;
  background-color: buttonface;
}

.link:hover {
  text-decoration: underline;
  color: gray;
}

.footer_buffer,
.header_buffer {
  padding: 5%
}

.big_header_buffer {
  padding: 7%;
}

.button_groups {
  text-align: center;
}

.formatted_content {
  background: $white;
  text-align: left;
  margin: 1%;
}

